@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Veri Listesi</title>
</head>
<body>
    <h1>Veri Listesi</h1>
    <ul>
        @foreach (var item in ViewData["ApiData"].ToString())
        {
            <li>@item</li>
        }
    </ul>
</body>
</html>
