
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            
        }

        .sidebar {
            height: 100%;
            width: 200px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #333;
        }

            .sidebar ul {
                list-style-type: none;
                padding: 0;
            }

                .sidebar ul li {
                    padding: 12px;
                }
                .sidebar ul li:hover {
                    padding: 15px;
                    background-color:dodgerblue;
                }

            .sidebar a {
                text-decoration: none;
                color: white;
            }

        .content {
            margin-left: 250px;
            padding: 20px;
        }
    </style>
    <title>Kutuphane V0.1</title>
</head>
<body>
    <div style="overscroll-behavior-x:auto" class="sidebar">
        <ul>
            
            <li><a href="/Kategori/Index/">Kategoriler</a></li>
            <li><a href="/Kitap/Index/">Kitaplar</a></li>
            <li><a href="/Yazar/Index/">Yazarlar</a></li>
            <li><a href="/Uye/Index/">Üyeler</a></li>
            <li><a href="/Personel/Index/">Personeller</a></li>
            <li><a href="/Odunc/OduncVer/">Ödünç Kitap Ver</a></li>
            <li><a href="/Odunc/Index">Ödünç Kitap Al</a></li>
            <li><a href="/Duyurular/Index">Duyurular</a></li>
            <li><a href="/istatistik/Index">İstatistik</a></li>
            <li><a href="/istatistik/Hava/">Hava Durumu</a></li>
            <li><a href="/istatistik/HavaKart/">Hava Kartlari</a></li>
            <li><a href="/istatistik/Galeri/">Galeri</a></li>
         
            <li><a href="/vitrin/Index">Vitrin</a></li>
        
            <li><a href="#">Çıkış</a></li>
        </ul>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
