
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>KategoriGetir</h2>


@using(Html.BeginForm("Guncelle","Kategori",FormMethod.Post))
            {
                <div class="form-group"></div>
            }

