
@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Kitap Gecmisim</h2>



<table class="table table-bordered">
    <tr>
        <th>Kitap Adi</th>
        <th>Alis Tarihi</th>
        <th>Uye Iade Tarihi</th>
        <th>Detaylar</th>

    </tr>



</table>